.article
  %p= link_to @article.title, @article.link
  %p= @article.critique
  %p= @article.created_at
  %p= link_to @article.user.name, @article.user

= link_to 'Edit', edit_article_path(@article)
= link_to 'Back', articles_path

-@article.comments.each do |comment|
  .comment
    %p= comment.user.name
